<h1>Chemistry App: Planning Chemical Reactions</h1>
<hr>

<i>Disclaimer: It is your responsibility to make sure that the chemical equation you insert is balanced.</i>
<br>
<br>
<form action="/process_chemical_equation" method="post">
<div>
  <label for="reactants_list">List reactant mole coefficients and names separated by commas</label>:   <input id="reactants_field" type="text" name="reactants"  value="propane, 5*oxygen">
</div>

<div>
  <label for="products_list">List product mole coefficients and names separated by commas</label>:   <input id="products_field" type="text" name="products"  value="3*carbon dioxide, 4*water">
</div>

<div>
  <label for="product_amount">Desired product and amount (assume a 100% yield) </label>:   <input id="products_amount" type="text" name="product_amount"  value="water, 100"> g
</div>

<br>
<button>Submit</button>
</form>
