<h1>Chemistry App: Balancing Chemical Equations</h1>


<form action="/process_chemical_equation" method="post">
<div>
  <label for="reactants_list">List reactant names separated by commas</label>:   <input id="reactants_field" type="text" name="reactants"  value="propane, oxygen">
</div>

<div>
  <label for="products_list">List reactant names separated by commas</label>:   <input id="products_field" type="text" name="products"  value="carbon dioxide, water">
</div>

<div>
  <label for="product_amount">Desired product amount (assume a 100% yield) </label>:   <input id="products_amount" type="text" name="product_amount"  value="100"> g
</div>

<br>
<button>Submit</button>
</form>
